
._control {
    // width: 80%;
    // margin: auto;
    padding: $padding-basic;
}
._control_des {
    margin-bottom: 1rem;
    // border: solid 5px#f0f0f0;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: $border-radius;
}
._control_des__title{
    font-size: 1.25rem;
    margin-bottom: .5rem;
}
._control_des__item {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}
._control_des__subtitle{
    font-size: 1rem;
}
._control_des__des{
    color: $color-lighter-gray;
    margin-left: .75rem;
    font-size: .85rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}
._control_des__highlight{
    // color: skyblue;
    color: red;
}
._control_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}
._control_block__wrap{
    display: flex;
}
._control_time__item {
    margin-right: .5rem;
    
    input {
        border: 0;
        padding: $padding-basic;
    }
}
._control_table{
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: $border-radius;
}
._control_table__title{
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}
._control_bottom{
    padding: 0 $padding-basic;
}
._control_switch {
    border: 1px solid $color-lighter-gray;
    display: flex;
    border-radius: $border-radius;
    overflow: hidden;
}
._control_switch__btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .5rem;

    &.active {
        cursor: initial;
        background-color: $color-lighter-gray;
        color: white;
    }
}



._filter{
    position: relative;
    z-index: 1;
}
._filter_block{
    overflow: hidden;
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    opacity: 0;
    transition: .2s all ease-out;
    transform: translateY(-10px);
    pointer-events: none;
    
    &.active{
        opacity: 1;
        transform: translateY(0);
        pointer-events: initial;
    }
    // &::before, &::after {
    //     content: '';
    //     z-index: 1;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 1.5rem;
    //     width: 100%;
    //     /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+9,0+100 */
    //         background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0) 100%);
    //         /* FF3.6-15 */
    //         background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0) 100%);
    //         /* Chrome10-25,Safari5.1-6 */
    //         background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 9%, rgba(255, 255, 255, 0) 100%);
    //         /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    //         /* IE6-9 */
    // }
}
._filter_block__height{
    position: relative;
    max-height: 50vh;
    overflow-y: auto;
    // margin: .5rem 0;
}
._filter_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: $padding-basic;
    margin-left: .5rem;
    transition: .2s all ease-in;
    border-radius: $border-radius;
    color: $color-text-highlight;

    &:hover{
        background-color: $color-text-highlight;
        color: white;
    }
}
._filter_category__name{
    font-size: .75rem;
    margin-bottom: .25rem;
    color: $color-lighter-gray;
}
._filter_category{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin: 0;
}
._filter_category__ul{
    padding: 0;
}
._filter_checkbox__input{
    width: 1rem;
    height: 1rem;
    border: 1px solid $color-lighter-gray;
    border-radius: 50%;
    margin-right: .5rem;

    &:checked{
        background-color: $color-lighter-gray;
        color: wheat;
    }
}
._filter_category__li{
    display: flex;
    border-bottom: 1px solid #d5d5d5;
    padding: .5rem 0;
}
._filter_category__label{
    width: max-content;
    max-width: 50vw;
}
._filter_checkbox{
    display: flex;
    align-items: center;
}
._filter_checkbox__wrap{
    position: relative;
    
    &::after{
        position: absolute;
        width: .35rem;
        height: .5rem;
        left: .3rem;
        top: .3rem;
        content: '';
        display: inline-block;
        // border: 2px solid red;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        border-color: white;
        border-style: solid;
        
    }
}
._filter_block__control{
    display: flex;
    padding: .5rem 0;
}
._filter_block__controlBtn{
    padding: .25rem 0;
    margin: 0 .5rem;
    text-align: center;
    min-width: 100px;
    color: $color-text-highlight;
    font-size: .85rem;
    border: 1px solid $color-text-highlight;
    border-radius: 2rem;
}
._filter_bottom__submit{
    background-color: $color-text-highlight;
    color: white;
    padding: .5rem;
    text-align: center;
    cursor: pointer;
}