._guide_welcome{
    font-size: 1rem;
}
._guide_subtitle{
    font-size: 1em;
    color: $color-lighter-gray;
    background-color: $table-hightlight;
    padding: .25rem;
}
._guide_function{

}
._guide_function__ps{
    color: #666;
    font-size: .75rem;
}
._guide_highlight_txt{
    color: cornflowerblue;
    font-weight: bold;
}
// ._guide_small_txt{
//     font-size: .75rem;
// }