._table_icon__arrowDown {
    vertical-align: middle;
    float: right;
    opacity: .1;
}
._table_th{
    &:hover {
        cursor: pointer;
    }
    &.active {
        background-color: $table-hightlight;
        
        ._table_icon__arrowDown {
            opacity: 1;    
        }

        &.up {
            ._table_icon__arrowDown {
                transform: rotate(180deg);
            }
        }
    }
}
._table_td{
    &.active{
        background-color: $table-hightlight;
    }
}
._table_img{
    max-width: 100px;
}