._article {
    iframe{
        margin: 1rem 0;
    } 
    a {
        color: $color-basic-gray;
        border-bottom: 1px solid $color-basic-gray;
        padding: 0 2px 1px;

        &:hover{
            filter: brightness(50%);
        }

        &._article_video__a{
            border-bottom: none;
        }
    }
    h2{
        // color: black;
        // font-size: .75rem;
        // margin: 1rem 0;
        // border-left: 3px solid black;
        // padding-left: 3px;
    }
    p{
        margin-bottom: .7rem;
    }
    
    // layout 
    ._container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 0;
    }
    header{
        @media screen and (max-width: $md){
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
        }
        @media screen and (min-width: $md){
            flex-basis: 30%;
            // padding-right: 3%;
        }
    }
    section{
        @media screen and (min-width: $md){
            flex-basis: 65%;
        }
    }
    footer{
        flex-basis: 100%;
    }
}
._article_back{
    padding: 5px;
    font-size: .75rem;
    margin-bottom: 1rem;
    border-bottom: 0 !important;
    display: none;

    @media screen and (min-width: $sm){
        display: inline-block;
    }
}
._article_cover {
    img{
        width: 100%;
    }
}
._article_img_normal{
    img {
        width: 100%;
    
        @media screen and (min-width: $sm){
            max-height: 300px;
            height: 100%;
            width: auto;
        }
    }
    
}
._article_title {
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
}
._article_info {
    display: flex;
    font-size: .75rem;
    margin-bottom: 1rem;
}
._article_summary{
    font-size: .75rem;
    // color: $color-dark-gray;
}
._article_summary__title{
    display: flex;

    span{
        margin-right: .5rem;
        // flex: auto;
    }
}
._article_time {
    margin-right: .5rem;
}
._article_tags {
    span {
        margin-right: .25rem;
        padding: 2px;
        border: 1px solid #ddd;
        background-color: #fafafa;
        border-radius: 3px;
        // white-space: nowrap;
    }
}

._article_video{
    display: flex;
    justify-self: center;
}
._article_video__a {
    margin: auto;
    overflow: hidden;

    &:hover{
        img {
            transform: scale(1.05);
        }
    }

    img {
        width: 100%;
        transition: .3s all ease;
    
        @media screen and (min-width: $sm){
            max-height: 300px;
            height: 100%;
            width: auto;
        }
    }
}

._article_recommend{
    display: flex;
    justify-content: center;
    color: $color-dark-gray;
    border-width: 1px 0;
    border-style: solid;
    margin-top: 2rem;
    flex-wrap: wrap;
}
._article_recommend__btn{
    padding: 1rem !important;
    // margin: 1rem 0;
    cursor: pointer;
    border-bottom: 0 !important;
    display: block;
    flex-basis: 100%;
    
    @media screen and (min-width: $sm){
        flex-basis: 50%;
    }

    +{
        ._article_recommend__btn{
            border-top: 1px solid $color-light-gray;

            @media screen and (min-width: $sm){
                border-top: none;
            }
        }
    }
    // flex: 1;
    // max-width: 50%;

    // &.prev{
    //     ._article_recommend__arrow{
    //         text-align: right;
    //     }
    // }
}
._article_recommend__arrow{
    font-size: .75rem;
    text-align: center;
}
._article_recommend__title{
    color: $color-dark-gray;
}