$color-basic-gray: #8b8b8b;
$color-light-gray: #e9e9e9;
$color-dark-gray: #222;
// $color-basic-gray: #666;

$color-blue: #46b3dd;

$color-line: #00c300;
$color-facebook: #1877f2;
$color-youtube: #ff0000;
$color-instgram: #e1306c;

// breakpoints
// breakpoints for @media screen and (min-width:
$xxs:0px;
$xs:480px;
$sm:640px;
$md:800px;
$lg:1000px;
$xl:1200px;
$xxl:1500px;