@import "./variables";
@import "./reset";
@import "./setting";
@import "./shared";
@import "./article";

@import "./header";
@import "./footer";
@import "./home";

body{
    // font-size: .75rem;
}
._container{
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

._button_icon{
    width: 20px;
    height: 20px;
    margin-right: .5rem !important;
    
    &--line{
        g{
            stroke: $color-line;
        }
    }
    &--facebook{
        color: $color-facebook;
    }
    &--youtube{
        color: $color-youtube;     
    }
    &--instgram{
        color: $color-instgram;
    }
}
._button_icon__angle{
    align-self: center;
    margin-left: 0.25rem;
    font-size: 1rem !important;
}