em {
    background-color: #eee;
    padding: 3px;
}
a{
    color: $color-dark-gray;
}
figure {
    text-align: center;
    margin: 1.5rem 0;

    figcaption{
        margin-top: .25rem;
        font-size: .75rem;
        color: $color-dark-gray;
    }
}

._shared_page__title{
    color: $color-dark-gray;
    font-size: 1.2rem;
    flex-basis: 100%;
}
._shared_category__title{
    color: $color-dark-gray;
    font-size: .75rem;
    border-bottom: 1px solid $color-dark-gray;
    padding-bottom: .25rem;
    font-weight: bold;
    margin: 1.5rem 0;

    @media screen and (min-width: $md){
        margin: 1.5rem 0 0.2rem;
        border: none;
    }

    &:first-child{
        margin-top: 0;
    }
}
