body {
  color: #444;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #F6F6F6;
  line-height: 1.8;
  font-size: 15px;
}

p {
  margin-bottom: 0;
  line-height: 1.8;
}

._control {
  padding: 0.75rem;
}

._control_des {
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

._control_des__title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

._control_des__item {
  margin-bottom: 2rem;
}
._control_des__item:last-child {
  margin-bottom: 0;
}

._control_des__subtitle {
  font-size: 1rem;
}

._control_des__des {
  color: #888;
  margin-left: 0.75rem;
  font-size: 0.85rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

._control_des__highlight {
  color: red;
}

._control_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.25rem;
}

._control_time__item {
  margin-right: 0.5rem;
}
._control_time__item input {
  border: 0;
  padding: 0.75rem;
}

._control_table {
  padding: 1.5rem;
  background-color: white;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}

._control_table__title {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

._control_bottom {
  padding: 0 0.75rem;
}

._welcomeMsg {
  padding: 0.75rem;
}

._header {
  background-color: #444;
  color: #fff;
  padding: 0.75rem;
}

._header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._header_title {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

._header_title__ver {
  font-size: 1rem;
  margin: 0 0.5rem;
}

._menu {
  padding: 0.75rem;
  margin-bottom: 1rem;
}

._menu_title {
  margin-bottom: 0.5rem;
}

._menu_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._menu_wrap__item {
  text-decoration: none;
  margin-right: 1rem;
  color: #7d7d7d;
  border: 1px solid #7d7d7d;
  padding: 0.5rem 0.75rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
._menu_wrap__item:hover {
  background-color: #888;
  color: white;
}

tr {
  border-bottom: 1px solid #e4e4e4;
}

thead tr {
  border-bottom: 2px solid #444;
}

._table {
  width: 100%;
}

._table_icon__arrowDown {
  vertical-align: middle;
  float: right;
  opacity: 0.1;
  font-size: 2rem;
}

._table_th {
  padding: 0.75rem;
  text-align: left;
}
._table_th:hover {
  cursor: pointer;
}
._table_th.active {
  background-color: #f1f1f1;
}
._table_th.active ._table_icon__arrowDown {
  opacity: 1;
  color: cornflowerblue;
}
._table_th.active.up ._table_icon__arrowDown {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

._table_td {
  padding: 0.75rem;
  vertical-align: middle;
}
._table_td.active {
  background-color: #f1f1f1;
}

._table_img {
  max-width: 80px;
}

._guide {
  padding: 0.75rem;
}

._guide_title {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._guide_title__icon {
  border-radius: 50%;
  background-color: #444;
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

._guide_subtitle {
  color: #7d7d7d;
  font-weight: bold;
  margin-top: 1rem !important;
  font-size: 0.85rem;
  font-weight: bold !important;
}

._guide_des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

._guide_ul {
  padding-left: 1rem;
  list-style: square;
}

._guide_ul__li {
  font-size: 0.8rem;
}

._guide_des__note {
  padding: 0.75rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #ddd;
}

._guide_dotBlock {
  font-size: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._guide_dotBlock__item {
  margin-right: 0.5rem;
}

._guide_dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}
._guide_dot--red {
  background-color: #ffa3c0;
}
._guide_dot--green {
  background-color: #6ddb7a;
}

._guide_des__ps {
  color: #666;
  font-size: 0.85rem;
}

._guide_highlight_txt {
  color: cornflowerblue;
  font-weight: bold;
}

._footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  font-size: 0.65rem;
  color: #7d7d7d;
}

._footer_link {
  color: #7d7d7d;
  margin-left: 5px;
  text-decoration: none;
  border-bottom: 1px solid #7d7d7d;
}
._footer_link:hover {
  color: #444;
}