@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

:focus {
  outline: none !important;
}

input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

/* 在mobile上輸入框不被放大 */
input, button, textarea {
  font-size: initial;
}

/* 隱藏 scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* 隱藏 ie scrollbar */
* {
  -ms-overflow-style: none;
}

@font-face {
  font-family: "jf-openhuninn";
  src: url("../fonts/jf-openhuninn-1.1.ttf") format("truetype");
}
body {
  font-family: "Noto sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  color: #8b8b8b;
  font-family: "jf-openhuninn";
}

#app {
  height: 100vh;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a0eefe+0,a1c1fe+100 */
}

a {
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

._app_bambi {
  position: fixed;
  right: -22px;
  bottom: 0;
  width: 50%;
  max-width: 100px;
  z-index: 10;
}
._app_bambi img {
  width: 100%;
}

._header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222;
  z-index: 1;
  position: relative;
}
@media screen and (min-width: 640px) {
  ._header {
    padding: 1rem 0;
  }
}
._header.active ._header_menu {
  opacity: 1;
  visibility: visible;
  right: 0;
}
._header.active ._header_menu::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

._header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

._header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  height: 100%;
  text-align: right;
  right: -20%;
  background-color: rgba(255, 255, 255, 0.95);
}
@media screen and (min-width: 640px) {
  ._header_menu {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: 100%;
    background-color: transparent;
    opacity: 1;
    right: 0;
    visibility: visible;
    position: absolute;
  }
}

._header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 640px) {
  ._header_links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

._header_menu__close {
  padding: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  ._header_menu__close {
    display: none !important;
  }
}

._header_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin-top: 1rem;
}
@media screen and (min-width: 640px) {
  ._header_lang {
    margin-top: 0;
  }
}

._header_lang_wrap {
  border: none;
  border: none;
  padding: 0.5rem;
  margin: auto;
}

._header_links__item {
  padding: 0 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
}
@media screen and (min-width: 640px) {
  ._header_links__item {
    margin: 0;
    width: auto;
  }
}

._header_links__a {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #222 !important;
  opacity: 0.8;
}
._header_links__a:hover {
  opacity: 1;
}
._header_hamburger {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
@media screen and (min-width: 640px) {
  ._header_hamburger {
    display: none;
  }
}

._footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
}

._home_container {
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

._home_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

._home_intro__hi {
  color: #222;
  font-size: 1.1rem;
  font-weight: bold;
}

._home_intro__a {
  font-weight: bold;
  color: #222;
  padding: 0 2px 2px;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
  border-bottom: 1px solid transparent;
}
._home_intro__a:hover {
  border-bottom: 1px solid #222;
}

._home_intro__des {
  font-size: 0.75rem;
  text-align: left;
}

._home_intro__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

._home_intro__img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

._home_links {
  width: 100%;
}

._home_category {
  margin-bottom: 2rem;
}

._home_category__title {
  color: #222;
  font-size: 0.75rem;
  border-bottom: 1px solid #222;
  padding-bottom: 0.25rem;
  font-weight: bold;
}

._home_link__item {
  padding: 1.5rem 0.5rem;
  border-bottom: 1px solid #e9e9e9;
}
._home_link__item:last-child {
  border: none;
}

._home_links__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222;
  margin-bottom: 0.25rem;
}
._home_links__title i {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._home_links__title ._button_icon__angle {
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
._home_links__title:hover ._button_icon__angle {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

._home_links__des {
  font-size: 0.75rem;
  padding-left: 1.6rem;
}

._home_stickers {
  padding: 3rem 0.5rem;
  border-bottom: 1px solid #e9e9e9;
}
._home_stickers:last-child {
  border: none;
}

._home_stickers__title {
  font-size: 1.125rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 0.25rem;
  line-height: 1.3;
}

._home_stickers__des {
  font-size: 0.75rem;
}

._home_stickers__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem -0.5rem;
}

._home_stickers__img {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0.25rem;
}
._home_stickers__img img {
  width: 100%;
}

._home_stickers__btn {
  cursor: pointer;
  padding: 0.75rem;
  color: #222;
  border: 1px solid #222;
  font-size: 0.75rem;
  width: 80%;
  margin: auto;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
._home_stickers__btn i {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
._home_stickers__btn:hover i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

._home_news {
  padding: 1.5rem 0.5rem;
}

._home_news__item {
  font-size: 0.75rem;
  border-bottom: 1px solid #e9e9e9;
  padding: 0.25rem 0;
}
._home_news__item:last-child {
  border: none;
}

._home_news__date {
  margin-right: 0.5rem;
}

._home_news__title {
  color: #222;
}

._button_icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem !important;
}
._button_icon--line g {
  stroke: #00c300;
}
._button_icon--facebook {
  color: #1877f2;
}
._button_icon--youtube {
  color: #ff0000;
}
._button_icon--instgram {
  color: #e1306c;
}

._button_icon__angle {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 0.25rem;
  font-size: 1rem !important;
}
/*# sourceMappingURL=main.css.map */