$color-primary: #7d7d7d;
$color-secondary: #F6F6F6;
$color-light: #fff;
$color-dark: #444;

$color-text-highlight: cornflowerblue;
$color-highlight-red: #ffa3c0;
$color-highlight-green: #6ddb7a;
$color-lighter-gray: #888;
$table-hightlight: #f1f1f1;

// space
$padding-basic: .75rem;

// border radius
$border-radius: .5rem;